body{
    background-color:white;
}

.parenty {
    text-align: center;
}
.parenty > ul {
    display: inline-block;
    text-align: justify; 
}

.parenty > ul > li {
    color: black;
    font-size: 17px;
}

.accordion .item .accordion-header button{
    background-color: #E6E6E6;
}


.accordion .item .accordion-header button:focus{
  box-shadow: inset 0 0 0 1px #f7f7f7, 0 0 0px 0px #f7f7f7; 
  
}

.accordion .item .accordion-body{
    box-shadow: inset 0 0 0 2px #f7f7f7, 0 0 0px 0px #f7f7f7; 
    
}

.work{
    background-image: url("./images/work.jpg");
    background-size: "cover";
    height: 50h;
    background-repeat: no-repeat;
}